@font-face {
  font-family: 'KoPubDotumMedium';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container_{
  margin: auto;
  background-color : #f4f4f4;
  font-family: 'KoPubDotumMedium';
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.SignIn{
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.frmSignIn{
  text-align: center;
  width: 380px;
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  
  background-color: white;
  box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.19);
}

.bt {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .bt {
    transition: none;
  }
}
.bt:hover {
  color: #212529;
}
.bt-check:focus + .bt, .bt:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.bt:disabled, .bt.disabled, fieldset:disabled .bt {
  pointer-events: none;
  opacity: 0.65;
}

.btn-main{
  color: #fff;
  background-color: #0096ff;
  border-color: #0096ff;
}

.btn-main:hover {
  color: #fff;
  background-color: #0088e9;
  border-color: #0088e9;
}
.btn-check:focus + .btn-main, .btn-main:focus {
  color: #fff;
  background-color: #0484df;
  border-color: #0484df;
  box-shadow: #0484dfee;
}
.btn-check:checked + .btn-main, .btn-check:active + .btn-main, .btn-main:active, .btn-main.active, .show > .btn-main.dropdown-toggle {
  color: #fff;
  background-color: #0484df;
  border-color: #0484df;
}
.btn-check:checked + .btn-main:focus, .btn-check:active + .btn-main:focus, .btn-main:active:focus, .btn-main.active:focus, .show > .btn-main.dropdown-toggle:focus {
  box-shadow: #0484df;
}
.btn-main:disabled, .btn-main.disabled {
  color: #fff;
  background-color: #0096ff;
  border-color: #0096ff;
}

/* 구글로 로그인 버튼*/
.btn-light {
  color: #000;
  background-color: transparent !important;
  border-color: rgb(199, 203, 208) !important;
}
.btn-light:hover {
  color: #000;
  background-color: transparent;
  border-color: #f9fafb;
}
.btn-check:focus + .btn-light, .btn-light:focus {
  color: #000;
  background-color: transparent;
  border-color: #f9fafb;
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: transparent;
  border-color: #f9fafb;
}
.btn-check:checked + .btn-light:focus, .btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-ligh:disabled, .btn-light.disabled {
  color: #000;
  background-color: transparent;
  border-color: #f8f9fa;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
