.TopBar {
    background-color: #fbfad4;
    display: flex;
    height: 70px;
    width: 1920px;
}

.TopBar button {
    padding: 0;
    background-color: transparent;
    border: 0;
    width: 262px;
    cursor: pointer;
}

.MoidaLogo {
    width: 194px;
    height: 51px;
    margin: 15px 27px 30px 41px;
}

.TopBarSearchInput {
    width: 400px;
    margin: 10px 0 0 auto;
    height: 50px;
    border-radius: 20px;
    border: 0;
    float: right;
}

.TopBarProfileIcon {
    margin: auto 32px auto 68px;
    width: 56px;
    height: 56px;
    cursor: pointer;
    font-size: 20px;
}