.makegroup_layer_wrapper .makegroup_full_layer{
    overflow:hidden;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    text-align:center;
    white-space:nowrap;
    font-size:0;
    display:inline-block;
    vertical-align:middle;
    height:100%;
    content:'';
}

.makegroup_common_alert{
    z-index:2;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    width:calc(100%-56px);
    min-height: 200px;
    max-height:100%;
    min-width: 200px;
    background-color:yellowgreen;
    white-space:normal;
    word-break:break-word;
    text-align:left;
    border-radius:10px;
    padding:30px;
    margin:auto;
    box-sizing:border-box;
    font-size: 16px;
}


.HashWrapOuter {
    display: inline;
    flex-wrap: wrap;
}
.HashWrapInner {
    margin-top: 5px;
    background: #ffeee7;
    border-radius: 56px;
    padding: 4px 8px;
    color: #ff6e35;
    display: inline;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.HashInput {
    width: auto;
    margin: 10px;
    display: inline-flex;
    outline: none;
    cursor: text;
    line-height: 2rem;
    margin-bottom: 0.75rem;
    min-width: 8rem;
    border: none;
  }
 