.GroupCard {
    width: 199px;
    height: 241px;
    margin-right: 22px;
    float: left;
}

.GroupCard .GroupColor {
    width: 199px;
    height: 202px;
    margin-bottom: 1px;
}

.GroupCard .GroupName {
    width: 199px;
    height: 38px;
}

.GroupCard .GroupName .GroupNameTitle {
    font-family: SDGtNeocUni-bLt;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: black;
    box-sizing: content-box;
    margin: auto auto auto 7px;
}

.PopularityCard{
    width: 359px;
    flex-grow: 0;
    margin: 0 0 24px 111px;
    padding: 177px 0 0;
    border-radius: 5px;
    float: left;
    
}

.PopularityCard .Dday{
    width: 359px;
    height: 24px;
    flex-grow: 0;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    font-size: 15px;
    background-color: #fbfad4;
}

.PopularityCard .PopularityTitle{
    text-align: center;
    font-size: 25px;
}
