body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Pretendard;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Pretendard;
  font-weight: normal;
  src: url("./res/font/Pretendard-Medium.otf");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src: url("./res/font/Pretendard-Regular.otf");
}


@font-face {
  font-family: Pretendard;
  font-weight: bold;
  src: url("./res/font/Pretendard-Bold.otf");
}